body{
    background-color: #ffffff;
}
.banner{
    margin: 0.55rem 0 0.1rem;
}
.banner img{
    width: 100%;
}
.tip{
    margin: 0.25rem 0.1rem 0.1rem;
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-regular;
}
.titleO{
    color: #FF9800;
    text-align: center;
    width: 1.5rem;
    border-bottom: 1px solid #bbbbbb;
    margin: 0 auto;
    line-height: 0.4rem;
}
.item{
    margin-bottom: 0.1rem;
    width: 1.7rem;
    height: 1.5rem;
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: center;
    font-family: -apple-system;
    border: 1px solid rgba(187, 187, 187, 1);
}
.list{
    padding: 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row{
    font-size: 14px;
    width: 1.7rem;
    text-align: center;
    line-height: 0.8rem;
}
.listLast{
    padding: 0.1rem;
    margin-top: 0.3rem;
}
li{
    list-style-type: disc;
    margin-bottom: 0.2rem;
    margin-left: 0.25rem;
}
.footer{
    color: #8C8C8C;
    font-size: 14px;
    text-align: center;
}
