.wrap {
    background: #FFFFFF;
}

/*标题*/
.wrap-title {
    margin: 3rem 0 0 4%;
}

.wrap-title .wrap-title-span {
    font-size: 1.8rem;
    color: #485166;
    letter-spacing: 0;
    font-weight: bold;
}

.warp-main {
    margin: 3rem 0 0;
}

.warp-main .warp-main-span {
    margin: 0.7rem 0 0 4%;
    font-size: 1.6rem;
    color: #485166;
    letter-spacing: 0;
    display: inline-block;
    width: 95px;
}

.warp-main .warp-main-input {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    color: #485166;
    letter-spacing: 0;
    border: 0;
    background: #FFFFFF;
}
.warp-main .warp-main-phone,.warp-main .warp-main-password {
    width: 60%;
}

/*修改提示文字的颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #BBBBBB;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #BBBBBB;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #BBBBBB;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #BBBBBB;
}


/* hr样式 */
.warp-main .warp-main-hr {
    width: 92%;
    margin: 0.7rem auto;
    border-top: 1px solid #E9EAEC;
    font-size: 0;
    line-height: 0;
}
/* 登录按钮 */
.login-btn {
    margin: 0 4%;
    width: 92%;
    height: 4.4rem;
    background: red;
    border: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    font-size: 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0;
}
/* 发送验证码 */
.login-btn-yzm{
    margin-top: -0.2rem;
    margin-right: 5%;
    background: red;
    border-radius: 5px;
    border: 0;
    width: 6.5rem;
    height: 2.7rem;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0;
    position: relative;
    top: 4px;
}
/* 提示 */
.warp-main-prompt{
    margin: 1.3rem 4%;
    font-size: 1.2rem;
    line-height: 1.7rem;
}
.warp-main-prompt .warp-main-red{
    color: #F44336;
}
.warp-main-prompt .warp-main-gray{
    color: #BBBBBB;
}
.warp-main-prompt .warp-main-gray .warp-main-a{
    color: #0080CC;
}
/*弹层*/
#user-layer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.50);
    display: none;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 999999;
}
#user-layer:after{
    display: inline-block;
    content:"";
    width: 0;
    height: 100%;
    vertical-align: middle;
}
#user-layer .wrap-middle{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    width: 92%;
    height: 40rem;
}
#user-layer .layer-middle{
    margin-top: 3rem;
    height: 30rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    color: #001E24;
    letter-spacing: 0;
    line-height: 2rem;
}
#user-layer .l-close{
    position: absolute;
    top: 1rem;
    left: 2rem;
    right: 2rem;
    text-align: right;
    line-height: 2rem;
    color:#0080CC;
}
#user-layer .tool-bar{
    bottom: 0;
    padding: 2rem 0;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
#user-layer .agree{
    text-align: center;
    width: 20rem;
    line-height: 3rem;
    margin: 0 auto;
    color:#fff;
    border: 1px solid #0080CC;
    background: #0080CC;
    border-radius: 3px;
    font-size: 1.2rem;
    letter-spacing: 0;
}
#user-layer .layer-msg{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
#user-layer .layer-msg .msg-title{
    font-weight: bold;
    font-size: 2rem;
    color: #001E24;
    letter-spacing: 0;
    line-height: 2rem;
}
#user-layer .layer-msg .msg-content{
    font-size: 1.2rem;
    color: #001E24;
    letter-spacing: 0;
    text-align: left;
    line-height: 2rem;
    margin-top: 2rem;
    height: 27rem;
    overflow: auto;
}
#user-layer .layer-msg .msg-content span{
    font-weight: bold;
    font-size: 1.4rem;
    color: #001E24;
    letter-spacing: 0;
    line-height: 2rem;
    display: block;
    margin-bottom: 2rem;
}
#user-layer .layer-msg .msg-content p{
    display: block;
    margin: 2rem 0;
}

#user-layer .layer-middle:after {
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.fs12{
    font-size: 1.2rem;
    text-align: center;
    color: #999999;
    line-height: 20px;
    margin-top: 1rem;
}
.getQuery{
    width: 40%;float: right;margin-top: 0.25rem;
}
.ju{
    color: rgb(247,105,106)
}
.yzm-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 25px;
}
