.wrap-success{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    margin: -8rem 0;
}
.wrap-img {
    width: 6rem;
    height: 7rem;
    margin: 0 auto;
}
.wrap-img img{
    width: 6rem;
    height: 7rem;
}
.wrap-content-p{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.2rem;
    color: #495060;
    letter-spacing: 0;
}
.icon-kafei{
    color: #DDDEE1;
    font-size: 6rem;
}
.icon-cuowu{
    color: #F44336;
    font-size: 7rem;
    opacity: 0.5;
}
.wrap-content-p-20{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.2rem;
    color: #F44336;
    letter-spacing: 0;
    width: 67.2%;
    text-align: center;
    margin: 2.6rem auto 0;
}
.apply-btn{
    margin: 2rem 23% 0;
    width: 54%;
    height: 4.4rem;
    background: #0080CC;
    border: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    font-size: 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0;
}
/* 认证成功页面样式 */
.wrap-title{
    margin: 1.3rem 0 0 4%;
}
.wrap-title .wrap-title-span{
    font-size: 1.8rem;
    color: #485166;
    letter-spacing: 0;
    font-weight: bold;
}
.wrap-main-messages-p{
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #485166;
    letter-spacing: 0;
    margin: 1.5rem 0 0 4%;
}
.wrap-main-messages-img{
    width: 92%;
    height: 20rem;
    margin: 1rem 4%;
    border: 6px solid #DDDEE1;
    border-radius: 4px;
    box-sizing: border-box;
}
.wrap-btn {
    position: absolute;
    bottom: 4rem;
    width: 92%;
    margin: 0 4%;
}

.wrap-btn-again {
    width: 100%;
    height: 4.4rem;
    line-height: 4.4rem;
    background: red;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    border: 0;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 0;
}
.file{
    width: 100%;
    height: 100%;
}